services:
- type: web
  name: line-bot-python-cocobot
  env: python
  buildCommand: pip install -r requirements.txt
  startCommand: python GiminiBot.py
  plan: free
  autoDeploy: false
  envVars:
  - key: LINE_CHANNEL_ACCESS_TOKEN
    sync: false
  - key: LINE_CHANNEL_SECRET
    sync: false
  - key: GOOGLE_API_KEY
    sync: false
  - key: GOOGLE_MAPS_API_KEY
    sync: false
  - key: WEATHER_KEY
    sync: false